<p class="p">Relembre a História da Invasão Corinthiana no Ano 77!</p>
<div class="invasao77" (click)="navegandoNoComponente('segundo-componente')">
</div>

<p class="p2">Conheça a História da Democracia Corinthiana, onde ajudou a democratizar o clube e também a lutar contra a ditadura militar!</p>
<div class="Democracia" (click)="navegandoNoComponente('terceiro-componente')">

</div>

<p class="p3">Relembre como foi a invasão Corinthiana a Tóquio! Capital do Japão.</p>
<div class="japao" (click)="navegandoNoComponente('quarto-componente')">
    
</div>

<p class="p4">Conheça a Origem da Maior Torcida Organizada do Brasil: a Gaviões Da Fiel</p>
<div class="gavioes" (click)="navegandoNoComponente('quinto-componente')">
    
</div>