/*invasao77*/
.p{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px 0; /* Ajuste a margem superior e inferior */
    opacity: 1;
    transition: opacity 0.3s ease;
}

.p:hover{
    opacity: 0.5; 
}

.img{
    background-image: url(/invasao77.jpg);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    width: 100%; /* Ajuste a largura para preencher o container */
    height: 500px;
    margin: 0 auto; /* Centralize a imagem */
}

.img:hover{
    transform: scale(1.1);
}

/*democracia*/
.p2{
    opacity: 1;
    transition: opacity 0.3s ease;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px 0; /* Ajuste a margem superior e inferior */
}

.p2:hover{
    opacity: 0.5; 
}

.img2{
    background-image: url(/democracia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    width: 100%; /* Ajuste a largura para preencher o container */
    height: 500px;
    margin: 0 auto; /* Centralize a imagem */
}

.img2:hover{
    transform: scale(1.1);
}

/*invasao2012*/
.p3{
    opacity: 1;
    transition: opacity 0.3s ease;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px 0; /* Ajuste a margem superior e inferior */
}

.p3:hover{
    opacity: 0.5; 
}

.img3{
    background-image: url(/invasao2012.jpg);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    width: 100%; /* Ajuste a largura para preencher o container */
    height: 450px;
    margin: 0 auto; /* Centralize a imagem */
}

.img3:hover{
    transform: scale(1.1);
}

.p4{
    opacity: 1;
    transition: opacity 0.3s ease;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px 0; /* Ajuste a margem superior e inferior */
}

.p4:hover{
    opacity: 0.5; 
}

.img4{
    background-image: url(/gavioes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    width: 100%; /* Ajuste a largura para preencher o container */
    height: 450px;
    margin: 0 auto; /* Centralize a imagem */
}

.img4:hover{
    transform: scale(1.1);
}
