/*invasao77*/
.p,.p2,.p3,.p4{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px 0; 
    opacity: 1;
    transition: opacity 0.3s ease;
}

.p:hover,.p2:hover,.p3:hover,.p4:hover{
    opacity: 0.5; 
}

.invasao77,.Democracia,.gavioes,.japao{
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    width: 100%;
    height: 500px;
    margin: 0 auto; 
}

.invasao77{
    background-image: url(/invasao77.jpg);
}

.Democracia{
    background-image: url(/democracia.jpg);
}

.japao{
    background-image: url(/invasao2012.jpg);
}

.gavioes{
    background-image: url(/gavioes.jpg);
}

.invasao77:hover,.Democracia:hover,.gavioes:hover,.japao:hover{
    transform: scale(1.1);
}


