<body>
    
    <h1>A Invasão Corinthiana</h1>
    <header>
    <div class="jogadores" (click)="navegandoNoComponente()"></div>
    </header>
    <h2>O Evento Histórico</h2>
        <p>A Invasão Corinthiana foi um episódio histórico do futebol brasileiro que aconteceu em 1976, quando cerca de 70 mil torcedores do Corinthians viajaram de São Paulo para o Rio de Janeiro para apoiar a equipe na semifinal do Campeonato Brasileiro contra o Fluminense.</p>
    
        <h2>Reconhecimento e Impacto</h2>
        <p>O evento ficou conhecido como um dos mais surpreendentes da história do futebol, e o Livro dos Recordes considerou a invasão como o maior deslocamento humano em tempos de paz.</p>
    
        <h2>Comemorações</h2>
        <p>Após a vitória, a torcida do Corinthians comemorou nas ruas de São Paulo, principalmente na Avenida Paulista, onde houve uma grande concentração de torcedores. A sede do clube, no Parque São Jorge, também foi aberta ao público, e na segunda-feira, um dia após a partida, os torcedores foram ao aeroporto para receber a delegação do Corinthians, que desfilou em carreata até o Parque São Jorge.</p>
</body>