<header>
    <h1>A Invasão Corinthiana no Japão em 2012</h1>
</header>
<div class="japao"></div>
<div class="text">

    <h2>Introdução</h2>
        <p>A invasão corintiana no Japão em 2012 foi um fenômeno que ficou marcado na história do futebol mundial e que teve início vários dias antes da final contra o Chelsea.</p>
    
        <h2>Despedida no Aeroporto</h2>
        <p>Milhares de torcedores foram ao aeroporto para se despedir do elenco antes do embarque para o Japão.</p>
    
        <h2>Presença em Yokohama</h2>
        <p>A estimativa é que pelo menos 30 mil corintianos estiveram em Yokohama.</p>
    
        <h2>Conquista do Título Mundial</h2>
        <p>O Corinthians conquistou o título mundial ao vencer o Chelsea em um jogo épico.</p>
    
        <h2>Histórico de Torcida</h2>
</div>
        <p>A torcida do Corinthians já havia se destacado em outras ocasiões, como:</p>
        <ul class="pontos">
            <p>Na jornada de 1976, quando tomou conta do Maracanã na semifinal do Brasileiro contra o Fluminense;</p>
            <p>Em 2000, quando uma multidão de torcedores corintianos compareceu ao Maracanã na final da primeira Copa do Mundo de Clubes contra o Vasco.</p>
        </ul>
    
        <h2>Vitórias em Destaque</h2>
        <p>Em todas essas ocasiões, o time do Corinthians saiu vitorioso.</p>
